*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:x-large;
}

table{
  margin: 5rem auto;
  border: 1rem hidden #443C68;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
}
button{
  margin: 0.2rem auto;
  border: 1rem hidden #443C68;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  background: #d2f02c;
}